<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuize.commons.dao.activity.mapper.WxhbLotteryMapper">
	<resultMap id="wxhbLotteryResultMap"
		type="com.cuize.commons.dao.activity.domain.WxhbLottery">
		<id column="id" property="id" />
		<result property="useTemplate" column="use_template"/>
		<result property="logoUrl" column="logo_url"/>
		<result property="title" column="title"/>
		<result property="description" column="description"/>
		<result property="status" column="status"/>
		<result property="beginTime" column="begin_time"/>
		<result property="expireTime" column="expire_time"/>
		<result property="total" column="total"/>
		<result property="lotteryId" column="lottery_id"/>
		<result property="pageId" column="page_id"/>
		<result property="result" column="result"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<insert id="insertWxhbLottery" parameterType="com.cuize.commons.dao.activity.domain.WxhbLottery"
		keyProperty="id" useGeneratedKeys="true">
		insert into wxhb_lottery(
			use_template,
			logo_url,
			title,
			description,
			status,
			begin_time,
			expire_time,
			total,
			create_time
		) values (
			#{useTemplate},
			#{logoUrl},
			#{title},
			#{description},
			#{status},
			#{beginTime},
			#{expireTime},
			#{total},
			NOW()
		)
	</insert>
	
	<update id="updateWxhbLottery" parameterType="com.cuize.commons.dao.activity.domain.WxhbLottery">
		update 
			wxhb_lottery
			<set>
				<if test="lotteryId != null">
					lottery_id = #{lotteryId},
				</if>
				<if test="pageId != null">
					page_id = #{pageId},
				</if>
				<if test="result != null">
					result = #{result},
				</if>
				update_time = NOW()
			</set>
		where
			id = #{id}
	</update>
	
	<update id="updateWxhbLotteryStatus">
		update 
			wxhb_lottery
		set
			status = #{status},
			update_time = NOW()
		where
			id = #{id}
	</update>
	
	<select id="queryWxhbLotteryById" resultMap="wxhbLotteryResultMap">
		select
			* 
		from 
			wxhb_lottery
		where
			id = #{id}
	</select>
	
	<select id="queryWxhbLotteryByLotteryId"  resultMap="wxhbLotteryResultMap">
		select
			* 
		from 
			wxhb_lottery
		where
			lottery_id = #{lotteryId}
		order by 
			id desc 
		limit 1
	</select>	
	
	<select id="queryWxhbLotteryByPage" resultMap="wxhbLotteryResultMap">
		select 
			*
		from
			wxhb_lottery
		where 
			1 = 1
			<if test="query.status != null and query.status == 0">
				and status = 0
			</if>
			<if test="query.status != null and query.status == 1">
				and status = 1
			</if>		
			<if test="query.title != null and query.title !=''">
				<![CDATA[ and title like CONCAT('%', #{query.title, jdbcType=VARCHAR} ,'%') ]]>
			</if>	
			limit #{page.start}, #{page.limit}
	</select>
	
	<select id="countWxhbLotteryPage" resultType="java.lang.Integer">
		select 
			count(id)
		from
			wxhb_lottery
		where 
			1 = 1
			<if test="query.status != null and query.status == 0">
				and status = 0
			</if>
			<if test="query.status != null and query.status == 1">
				and status = 1
			</if>		
			<if test="query.title != null and query.title !=''">
				<![CDATA[ and title like CONCAT('%', #{query.title, jdbcType=VARCHAR} ,'%') ]]>
			</if>	
	</select>
	
	
	<resultMap id="wxhbLotteryTicketResultMap"
		type="com.cuize.commons.dao.activity.domain.WxhbLotteryTicket">
		<id column="id" property="id" />
		<result property="hbLotteryId" column="hb_lottery_id"/>
		<result property="ticket" column="ticket"/>
		<result property="openId" column="open_id"/>
		<result property="lotteryId" column="lottery_id"/>
		<result property="bindTime" column="bind_time"/>
		<result property="money" column="money"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	
	<insert id="batchInsertWxhbLotteryTicket" >
		insert into wxhb_lottery_ticket(
			hb_lottery_id,
			ticket,
			lottery_id,
			create_time
		) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.hbLotteryId},
				#{item.ticket},
				#{item.lotteryId},
				NOW()
			)
		</foreach>
	</insert>
	
	<update id="wxhbLotteryTicketBindNotice" parameterType="com.cuize.commons.dao.activity.domain.WxhbLotteryTicket">
		update 
			wxhb_lottery_ticket
		set
			open_id = #{openId},
			bind_time = #{bingTime},
			money = #{money},
			update_time = NOW()
		where
			lottery_id = #{lotteryId}
			and ticket = #{ticket}
	</update>
	
	
	<resultMap id="wxhbLotteryBindTicketResultMap"
		type="com.cuize.commons.dao.activity.resultvo.WxhbLotteryBindTicketVO">
		<id column="id" property="hbLotteryId" />
		<result property="ticket" column="ticket"/>
		<result property="title" column="title"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	
	<select id="queryWxhbLotteryBindTicketByPage" resultMap="wxhbLotteryBindTicketResultMap">
		SELECT 
			l.id as id,
			l.title as title,
			t.ticket as ticket,
			t.create_time as create_time,
			t.update_time as update_time
			
		FROM 
			wxhb_lottery_ticket t 
			left join wxhb_lottery l 
			on t.hb_lottery_id = l.id 
		where 
			l.id = #{hbLotteryId}
			limit #{page.start}, #{page.limit}
	</select>
	
	<select id="countWxhbLotteryBindTicketByPage" resultType="java.lang.Integer">
		SELECT 
			count(t.id)
		FROM 
			wxhb_lottery_ticket t 
			left join wxhb_lottery l 
			on t.hb_lottery_id = l.id 
		where 
			l.id = #{hbLotteryId}	
	</select>
	
	<resultMap id="wxhbLotteryUnbindTicketResultMap"
		type="com.cuize.commons.dao.activity.resultvo.WxhbLotteryUnbindTicketVO">
		<id column="id" property="id" />
		<result property="hbType" column="hb_type"/>
		<result property="totalAmount" column="total_amount"/>
		<result property="totalNum" column="total_num"/>
		<result property="createTime" column="create_time"/>
		<result property="expireTime" column="expire_time"/>
		<result property="ticket" column="ticket"/>
	</resultMap>
	
	<select id="queryUnBindTicketByPage" resultMap="wxhbLotteryUnbindTicketResultMap">
		select 
			p.id as id,
			p.hb_type as hb_type,
			p.total_amount as total_amount,
			p.total_num as total_num,
			p.create_time as create_time,
			p.expire_time as expire_time,
			t.ticket as ticket
		from 
			wxhb_preorder_ticket t left join wxhb_preorder p  
			on p.id = t.hb_preorder_id 
		where 
			t.status = 0
			<![CDATA[ and p.expire_time is not null and p.expire_time > NOW() ]]>
			limit #{page.start}, #{page.limit}
	</select>
	
	<select id="countUnBindTicketByPage" resultType="java.lang.Integer">
		select 
			count(t.id)
		from 
			wxhb_preorder_ticket t left join wxhb_preorder p  
			on p.id = t.hb_preorder_id 
		where 
			t.status = 0
			<![CDATA[ and p.expire_time is not null and p.expire_time > NOW() ]]>
	</select>
	
	
	
	
</mapper>